@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');



.footer {
  background-color: #bab9b6;
  color: black;
  font-family: "Mukta Malar", serif;
  font-weight: 400;
  width: 100%;
  position: relative; /* Ensure the footer does not overlap */
  bottom: 0;
  padding-bottom: 50px;
  

  
  
  
}

.nav-brand{
  font-size: 80px;
  padding: 0;
  margin: 0;
  line-height: 55px;
  font-family: "Roboto", serif;
  
}

.icon-brand{
  width: 90px;
  height: 90px;
  margin-bottom: 20%;
}

.sub-brand{
  font-size: 30px;
  padding: 0;
  margin: 0;
 
}

.address, .cr{
  font-size: 18px;
  line-height: 20px;
}

.list-unstyled a{
  cursor: pointer;
  color: black !important;
  font-size: 30px;
  line-height: 30px;
 
  
  
}

.list-unstyled a:hover{
  color: #414136 !important;
}


/* Ensure the row uses Flexbox for alignment */






.section2{
  position: relative;
  display: flex;
  justify-content: space-between;
}



@media (min-width: 800px){
  .section2{
    margin-top: 220px;
    
   
  }

}