@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Kaushan+Script&family=Lexend:wght@100..900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Satisfy&display=swap');
.home-container{
  transition: .5s;

}

.home-img{
  width: 100%;
  position: relative;
  left: 0;
  overflow: hidden;
  object-fit: cover;
  filter: brightness(65%);

  background-color: #e00000;
}

.wrapper{
  position: absolute;
  bottom: 0;
  left: 29%;
  top: 50%;
  text-align: center;
  color: #f9fccc;
  line-height: 20px;
 
}

h1{
  font-size: 170px;
  font-family: "Kaushan Script", cursive;
  line-height: 70px;
  font-weight: 900;
  letter-spacing: -10px;
  
}

h3{
  font-size: 45px;
  letter-spacing: 15px;
}

button{
  border: 1px solid #f9fccc;
  border-radius: 50px;
  background-color: transparent;
  font-size: 20px;
  padding: 15px 31px;
  color: #f9fccc;
  width: 40%;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: .6s;
  
}

button:hover{
  background-color: #e00000;
  border: #e00000;
}

.menu-btn{
  margin-right: 20px;
}

.order-online{
  width: 50px;
  height: auto;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 23px;
  background-color: #e00000;
  border-radius: 50%;
  vertical-align: baseline;
  padding: 40px 30px;
  display: inline-block;
  transform: rotate(10deg);
  padding-right: 45px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
  
}



.order-online a{
  text-decoration: none;
  color: #f9fccc;
  
}

