

.items{
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-top: 20px;
  font-weight: 500;
  margin-bottom: 50px;
  
}

.menuCategory h2{
  color: #e00000;
  font-weight: 600;
  font-size: 22px;
}

.menuCategory{
  border-top: 2px solid #e00000;
}

.menuCategory p{
  font-size: 14px;
}



.items-wrapper{
  padding: 0.5rem 1rem;
  background-color: #e000001f;
  transition: .2s;
  cursor: pointer;
  color: #292a21;
}

.items-wrapper:hover {
  transform: scale(1.03);

}

.descr-item{
  padding-bottom: 50px;
  font-size: 13px;
}

.items-wrapper h3{
  font-size: 20px;
  font-weight: 400;

}


.order-wrapper{
  width: 91%;
  margin-inline: auto;
  margin-bottom: 5%;
  margin-top: 2%;
  font-weight: 500;
}

.order-box{
  
  background-color: white;
  position: absolute;
  top: 67%;
  line-height: 17px;
  padding: 10px 16px;
  display: block;
  
  
}

.order-box h2{
  font-size: 50px;
  font-family: "Kaushan Script", cursive;
  color: #e00000;
  }

.order-box p{
  font-size: 14px;
}

.acc-order{
  display: flex;
  padding:  0 20px;
  border-radius: 80px;
  width: max-content;
  font-size: 13px;
  background-color: #f9fccc;
 
  
}

.acc-order span{
  width: 8px;
  height: 8px;
  background-color: green;
  border-radius: 10px;
  display: block;
  position: relative;
  bottom: -19px;
  left: -10px;
}

.pick-deliver{
  display: flex;
  font-size: 14px;
  margin-top: 25px;
}

.pickup{
  padding: 0px 55px;
  background-color: #e00000;
  color: white;
  border: 1px solid #e00000;
  
}

.delivery{
  padding: 0px 55px;
  background-color: #e0000009;
  border: 1px solid #292a216e;

}

.time-addr-wrapper{
  display: flex;
  gap: 20px;
  font-size: 15px;
  margin-top: 10px;
  
  
 
}

.time-pick{
  display: flex;
  gap: 10px;
  
  
}

.bx-time , .changes{
  position: relative;
  bottom: -15px;
  
}

.changes{
  cursor: pointer;
  color: #e00000;
}

.changes:hover{
  color: rgb(132, 78, 182);
}

.address{
  display: inline-flex;
  gap: 10px;
}

.address svg{
  position: relative;
  bottom: -15px;
}

.menu-list{
  margin-left: -40px;
}
.menu-list ul{
  display: flex;
  list-style: none;
}

.menu-list li{
  background-color: #f9fccc;
  padding: 15px;
  cursor: pointer;

}

.menu-list li:hover{
  background-color: #e000001f;
}

.menu-list li:focus{
  color: white;
  background-color: #e00000;
}

.menu-title{
  margin-top: 55px;
  color: #e00000;
  font-family: "Kaushan Script", cursive;
  font-size: 30px;
}

