body{
  display: block;
}

.story-wrapper {
  position: relative;
  text-align: center;
  height: auto;
  margin-bottom: 5%;
  display: block;
}

.story-h1 {
  color: #e00000;
  font-size: 40px;
  margin-bottom: 50px;
}

.story-img1 {
  width: 100%; /* Fixed width for all screens */
  height: auto;
  object-fit: cover; /* Ensure image stays proportional */
  margin-bottom: -4px;
}

.box1 {
  position: absolute;
  top: 19%;
  right: 13%;
  width: 31.75%;
  height: 21%;
  padding: 35px;
  background-color: white;
  color: #e00000;
}

.story-h2 {
  font-size: 25px;
  font-weight: 500;
}

.story-p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5rem;
}

.wrapper-2sections {
  background: linear-gradient(rgba(46, 44, 44, 0.5), rgba(1, 0, 2, 0.5)), url(../../assets/2-story.png);
  background-attachment: fixed;
  background-size: cover; /* Ensure full-screen background image */
  background-position: center; /* Center the background image */
  margin-right: 13%;
  margin-left: 13%;
  overflow: hidden;
}

.section2 {
  position: relative;
  display: flex;
  flex-direction: row;
  top: 10%;
}

.box2 {
  width: 47%;
  
  padding: 100px 35px;
  background-color: #f9fccc;
  color: #e00000;

}

.story-img3 {
  width: 54.5%; /* Fixed width for image consistency */
  height: auto;
}

.section3 {
  width: 60%;
  background-color: #e00000;
  color: #f9fccc;
  position: relative;
  left: 1.4%;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 100px 185px;
}

.section3 > .story-btn {
  margin-top: 6%;
  border: 1px solid #f9fccc;
  background-color: #f9fccc;
  color: #e00000;
  font-size: 17px;
  padding: 11px 40px;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 500;
}

.section3 > .story-btn:hover {
  background-color: #e00000;
  color: #f9fccc;
  border: 1px solid #f9fccc;
}

@media screen {
  
}
