.catering-wrapper{
  text-align: center;
}

.cater-contact{
  width: max-content;
  background-color: #e00000;
  color: #f9fccc;
  text-align: center;
  
}

.cater-contact h3{
  font-size: 30px;
  
  

}

.contact{
  
  min-height: 100vh;
}

.error-text{
  display: none;
}